<div class="navbar">
  <div class="top-nav">
    <div class="search">
      <input type="text" name="search" placeholder="SEARCH">
    </div>
    <div class="logo">
      <a href="https://ohmy.disney.com/"><img src="https://pbs.twimg.com/profile_images/1016850117704290304/YbnWtN96_400x400.jpg" alt=""></a>
    </div>
    <div class="sns">
      <div>
        <a href="https://www.facebook.com/OhMyDisney"><img id="fb" src="https://mbtskoudsalg.com/images/facebook-icon-png-white-3.png" alt=""></a>
      </div>
      <div>
        <a href="https://www.instagram.com/ohmydisney/"><img src="https://mbtskoudsalg.com/images/instagram-png-white-3.png" alt=""></a>
      </div>
      <div>
        <a href="https://www.youtube.com/user/OhMyDisney"><img id="yt" src="https://mbtskoudsalg.com/images/youtube-play-button-white-png-4.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="nav-links-background">
    <div class="nav-links">
      <ul>
        <li><a href="https://ohmy.disney.com/quiz/">QUIZ</a></li>
        <li>|</li>
        <li><a routerLink="news">NEWS</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/quotes/">QUOTES</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/movies/">MOVIES</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/food/">FOOD</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/parks/">PARKS</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/tv/">TV</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/music/">MUSIC</a></li>
        <li>|</li>
        <li><a href="https://video.disney.com/oh-my-disney">VIDEO</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/shop/">SHOP</a></li>
        <li>|</li>
      </ul>
    </div>
  </div>
</div>
