h4 {
  margin-top: 0;
  margin-left: 0;
  font-weight: 300;
}

a {
  color: black;
}

a:hover {
  color: #dc2047;
}

.condensed-postbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}

.condensed-postbox-img {
  width: 50%;
  padding-right: 10px;
}

.condensed-postbox-img img {
  width: 100%;
}

.condensed-postbox-content {
  width: 100%;
}
