<div class="navbar">
  <div class="top-nav">
    <div class="search">
      <input type="text" name="search" placeholder="SEARCH">
    </div>
    <div class="logo">
      <a href="https://ohmy.disney.com/"><img src="https://pbs.twimg.com/profile_images/1016850117704290304/YbnWtN96_400x400.jpg" alt=""></a>
    </div>
    <div class="sns">
      <div>
        <a href="https://www.facebook.com/OhMyDisney"><img id="fb" src="https://mbtskoudsalg.com/images/facebook-icon-png-white-3.png" alt=""></a>
      </div>
      <div>
        <a href="https://www.instagram.com/ohmydisney/"><img src="https://mbtskoudsalg.com/images/instagram-png-white-3.png" alt=""></a>
      </div>
      <div>
        <a href="https://www.youtube.com/user/OhMyDisney"><img id="yt" src="https://mbtskoudsalg.com/images/youtube-play-button-white-png-4.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="nav-links-background">
    <div class="nav-links">
      <ul>
        <li><a href="https://ohmy.disney.com/quiz/">QUIZ</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/news/">NEWS</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/quotes/">QUOTES</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/movies/">MOVIES</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/food/">FOOD</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/parks/">PARKS</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/tv/">TV</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/music/">MUSIC</a></li>
        <li>|</li>
        <li><a href="https://video.disney.com/oh-my-disney">VIDEO</a></li>
        <li>|</li>
        <li><a href="https://ohmy.disney.com/shop/">SHOP</a></li>
        <li>|</li>
      </ul>
    </div>
  </div>
</div>
<div class="ad">
  <img src="https://tpc.googlesyndication.com/simgad/18040544533200959624" alt="">
</div>
<div class="container">
  <div class="main-content">
    <div class="top-featured-post">
      <img src="https://lumiere-a.akamaihd.net/v1/images/image_46568438.jpeg" alt="">
      <div class="vid-description">
        <div class="vid-title">
          <h3><a href="https://ohmy.disney.com/news/2018/10/09/watch-hocus-pocus-with-kenny-ortega/">WATCH HOCUS POCUS WITH DIRECTOR KENNY ORTEGA</a></h3>
        </div>
        <div class="vid-category">
          <p>News</p>
        </div>
      </div>
    </div>
    <div class="recent-posts">
      <app-recent-posts></app-recent-posts>
    </div>
    <div class="retail-posts">
      <app-retail-posts [childRetailPosts]="retailPosts"></app-retail-posts>
    </div>
  </div>
  <div class="sidebar">
    <div class="newsletter">
      <h3>GET THE OH MY DISNEY NEWSLETTER</h3>
      <a href="#">SIGN UP NOW</a>
      <p><a href="#">Privacy Policy</a></p>
      <div class="sidebar-sns">
        <!-- social media icons -->
      </div>
    </div>
    <div class="popular-posts">
      <h3>Popular Posts</h3>
      <app-popular-posts [childTopPosts]="topPosts"></app-popular-posts>
    </div>
  </div>
</div>
<div class="footer-posts-background">
  <div class="footer-posts">
    <div class="footer-popular-posts">
      <h3>Popular Posts</h3>
      <app-footer-popular-posts [childFooterPopular]="footerPopularPosts"></app-footer-popular-posts>
    </div>
    <div class="footer-featured-posts">
      <h3>Featured Posts</h3>
      <app-featured-posts [childFeaturedPosts]="featuredPosts"></app-featured-posts>
    </div>
    <div class="follow">
      <h3>Follow</h3>
      <ul>
        <li><a href="https://www.facebook.com/OhMyDisney">Facebook</a></li>
        <li><a href="https://www.instagram.com/ohmydisney/">Instagram</a> </li>
        <li><a href="https://www.youtube.com/user/OhMyDisney">YouTube</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-logo">
    <h3>OH MY DISNEY</h3>
  </div>
  <div class="footer-links-1">
    <ul>
      <li><a href="https://www.thewaltdisneycompany.com/">ABOUT DISNEY</a></li>
      <li><a href="https://support.disney.com/">HELP & GUEST SERVICES</a></li>
      <li><a href="https://ddn.disney.com/">ADVERTISE WITH US</a></li>
      <li><a href="https://jobs.disneycareers.com/">CAREERS</a></li>
      <li><a href="https://support.disney.com/">CONTACT US</a></li>
      <li><a href="https://style.disney.com/">DISNEY STYLE</a></li>
      <li><a href="https://www.starwars.com/">STAR WARS</a></li>
      <li><a href="https://www.babble.com/">BABBLE</a></li>
      <li><a href="https://family.disney.com/">FAMILY</a></li>
      <li><a href="https://www.disney.com/">DISNEY</a></li>
    </ul>
  </div>
  <div class="footer-links-2">
    <ul>
      <li><a href="https://disneytermsofuse.com/">TERMS OF USE</a></li>
      <li><a href="https://support.disney.com/hc/en-us/articles/360000829466-Legal-Notices">LEGAL NOTICES</a></li>
      <li><a href="https://privacy.thewaltdisneycompany.com/en/">PRIVACY POLICY</a></li>
      <li><a href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/your-california-privacy-rights/">YOUR CALIFORNIA PRIVACY RIGHTS</a></li>
      <li><a href="https://privacy.thewaltdisneycompany.com/en/for-parents/childrens-online-privacy-policy/">CHILDREN'S ONLINE PRIVACY</a></li>
      <li><a href="http://preferences-mgr.truste.com/?type=disneycolor&affiliateId=115">INTEREST-BASED ADS</a></li>
    </ul>
  </div>
  <div class="copyright">
    <p>© DISNEY. ALL RIGHTS RESERVED.</p>
  </div>
</div>
