ul {
  padding-left: 0;
}

a {
  font-weight: 300;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #dc2047;
  height: 80px;
  overflow: hidden;
}

.logo img {
  width: 130px;
}

.search {
  margin-left: 2%;
}

.search input {
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.search input::placeholder {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.search input:focus {
  outline: none;
}

.sns {
  margin-right: 2%;
  width: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#fb {
  height: 40px;
  margin-right: -10px;
}

.sns img {
  height: 20px;
}

.nav-links-background {
  background-color: #99073a;
}

.nav-links > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-links a {
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ad img {
  margin-top: 20px;
  width: 50%;
  transform: translateX(50%);
}

.main-content {
  width: 60%;
  margin-right: 3%;
  margin-top: 50px;
}

.recent-posts {
  width: 100%;
}

.sidebar {
  margin-top: 30px;
  width: 25%;
}

.newsletter {
  text-align: center;
}

.newsletter h3 {
  color: #3f3f3f;
  font-size: 35px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.top-featured-post {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-bottom: 3%;
}

.vid-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vid-title {
  margin-left: 4%;
  width: 60%;
}

.vid-title h3 a {
  color: #dc2047;
}

.top-featured-post img {
  width: 100%;
}

.footer-posts {
  display: flex;
  flex-direction: row;
  margin-left: 7%;
  margin-right: 7%;
  color: #636363;
}

.footer-popular-posts, .footer-featured-posts {
  width: 37%;
}

.footer {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.footer li a, .footer p {
  font-size: 14px;
  color: #3f3f3f;
}

.footer div {
  margin-bottom: 30px;
}

.footer-links-1 > ul, .footer-links-2 > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
