ul {
  padding-left: 0;
}

a {
  font-weight: 300;
}

.sidebar-sns img {
  height: 40px;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-content {
  width: 60%;
  margin-right: 3%;
  margin-top: 50px;
}

.recent-posts {
  width: 100%;
}

.sidebar {
  margin-top: 30px;
  width: 25%;
}

.newsletter {
  text-align: center;
}

.newsletter h3 {
  color: #3f3f3f;
  font-size: 35px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.newsletter a {
  color: #dc2047;
  font-size: 14px;
}

#sign-up {
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #3f3f3f;
  background-color: cyan;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 3px;
}

#sign-up:hover {
  background-color: #19ced1;
}

.sidebar-sns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.footer-posts-background {
  background-color: #f9f9f9;
  margin-top: 40px;
}

.footer-posts {
  display: flex;
  flex-direction: row;
  margin-left: 7%;
  margin-right: 7%;
  color: #595959;
}

.footer-popular-posts, .footer-featured-posts {
  width: 37%;
  border-right: 1px solid #d8d8d8;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.follow {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.follow img {
  height: 25px;
  margin-right: 8px;
}

.follow ul {
  list-style-type: none;
  line-height: 2.5;
}

.follow li a {
  color: #3f3f3f;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.footer li a, .footer p {
  font-size: 14px;
  color: #3f3f3f;
}

.footer div {
  margin-bottom: 30px;
}

.footer-links-1 > ul, .footer-links-2 > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
