h4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-weight: 300;
}

a {
  color: #595959;
  font-size: 14px;
}

.condensed-postbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
}

.condensed-postbox-img {
  width: 26%;
  padding-right: 10px;
}

.condensed-postbox-img img {
  width: 100%;
}

.condensed-postbox-content {
  width: 100%;
}
