<div class="top-featured-post">
  <img src="https://lumiere-a.akamaihd.net/v1/images/image_46568438.jpeg" alt="">
  <div class="vid-description">
    <div class="vid-title">
      <h3><a href="https://ohmy.disney.com/news/2018/10/09/watch-hocus-pocus-with-kenny-ortega/">WATCH HOCUS POCUS WITH DIRECTOR KENNY ORTEGA</a></h3>
    </div>
    <div class="vid-category">
      <p>News</p>
    </div>
  </div>
</div>
<div class="recent-posts">
  <app-recent-posts></app-recent-posts>
</div>
<div class="retail-posts">
  <app-retail-posts [childRetailPosts]="retailPosts"></app-retail-posts>
</div>
